.reveal section img{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
}

.reveal pre code {
  font-size: 1.2em;
}

div.bigq {
 font-size: 200%;
}

div.medq {
 font-size: 150%;
}
