.boxout {
    display: block;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 13px;
    line-height: 1.42857;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #39E093;
    border: 1px solid #30835D;
    border-radius: 4px;
}
